:root {
  --font: "Major Mono Display", monospace;
  --font-subheading: "Cutive Mono", monospace;
  --font-information: "Mallanna", sans-serif;
}

h1 {
  text-align: center;
  font-family: var(--font);
  font-size: 2rem;
}
h2 {
  font-size: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-family: var(--font-subheading);
}
hr {
  width: 60%;
  margin: 0 auto;
  height: 1px;
  background-color: gray;
}
.img_logo {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.grid_container {
  display: grid;
  /*border: black solid 1px;*/
  grid-gap: 25px;
  grid-template-columns: 90%;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
  margin: 10px;

  padding-top: 10px;
}

.grid_item {
  /*border: 2px solid rgb(230, 230, 230);*/
  height: 100%;
  box-shadow: 0px 0px 7px rgb(128, 128, 128);
}

.grid_item img {
  margin: 0 auto;
  display: block;
  width: 30%;
}

.grid_item h3 {
  text-align: center;
  font-family: var(--font);
}
.grid_item figcaption {
  text-align: center;
  margin: 5px 15px;
  font-family: var(--font-information);
}

.brewery_container {
  text-align: center;
  margin-top: 2rem;
}
.brewery_container h2 {
  margin: 0 auto;
  font-family: var(--font);
}
.brewery_container p {
  margin-bottom: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: var(--font-information);
}

.brewery_img_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.brewery_img_container img {
  width: 30%;
  align-self: center;
  margin-bottom: 3rem;
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  text-align: center;
  bottom: 0;
  background-color: grey;
  padding: 0.5rem;
  color: white;
  font-family: var(--font-subheading);
}

@media (min-width: 760px) {
  .grid_container {
    grid-template-columns: 40% 40%;
  }
  .brewery_container {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .brewery_container h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .grid_container {
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
  }
  h2 {
    font-size: 1.5rem;
    width: 50%;
  }
  .grid_item h3 {
    font-size: 1.2rem;
  }
  .grid_item figcaption {
    width: 80%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
  }

  .brewery_container p {
    width: 80%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }
  .brewery_img_container {
    justify-content: center;
  }
  .brewery_img_container img {
    width: 25%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
  }
  hr {
    width: 30%;
    margin: 1rem auto;
  }
  footer {
    font-size: 1.3rem;
  }
}
@media (min-width: 1400px) {
  h1 {
    font-size: 3rem;
  }
  .img_logo {
    width: 10%;
  }
  .grid_container {
    grid-template-columns: 20% 20% 20%;
    grid-gap: 20px;
  }
}
